h2 {
background-color:#c6e872;
color:#2c7873;
  }
body {
  background-color:#c2fcd9;
}
hr {
  color: #ffd800;
  border-style: double ;
  border-width: 5px 0px 0px 0px ;
  width: 40%
}
p {
  background-color: #c2fcd9 ;
  color:#004445;
}
h3 {
background-color:#c6e872 ;
color:#2c7873 ;
}
